.btn {
  position: fixed;
  right: 2.5%;
  bottom: 2.5%;
  transition: transform 300ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.btn__img {
  width: 6rem;
  border-radius: var(--radius-rounded);
  box-shadow: var(--shadow);
}

@media (width <=600px) {
  .btn__img {
    width: 4rem;
  }
}

.btn__info {
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius-rounded);
  background-color: rgb(var(--accent-color-pink));
  color: rgb(var(--white));
  display: grid;
  place-items: center;
  position: absolute;
  right: 5%;
  top: 5%;
}
