.footer {
  background-color: rgb(var(--secondary-color-dark));
  color: rgba(var(--white), 0.6);
  padding: 2rem 5rem;
}

.footer__container {
  border-bottom: 1px solid rgba(var(--white), 0.6);
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

@media (width < 1024px) {
  .footer__container {
    flex-direction: column;
  }
}

@media (width <= 576px) {
  .footer__list {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}

.footer__container,
.footer__list,
.footer__icons {
  display: flex;
}

.footer__logo {
  margin-bottom: 1.25rem;
}

.footer__icons {
  margin: 2rem 0;
}

.icon {
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center start;
}

.icon:hover {
  opacity: 0.7;
}

.footer__list {
  column-gap: 3rem;
}

.footer__link {
  color: rgba(var(--white), 0.6);
}

.footer__link:hover {
  color: rgb(var(--white));
}

.footer__item {
  color: rgb(var(--white));
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.footer__subitem {
  margin-bottom: 1rem;
}

.footer__link--small {
  font-size: var(--font-s);
}

.footer__copyright {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 3rem;
  margin: 1.5rem auto 0;
  max-width: 1440px;
}

@media (width <= 576px) {
  .footer__copyright {
    display: flex;
    flex-flow: column wrap;
    row-gap: 1rem;
  }
}
