.section-center {
  width: 90%;
  max-width: 1440px;
  margin: 4rem auto;
}

.section__title {
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--secondary-color-dark);
}

.cols-2 {
  display: flex;
  justify-content: space-between;
}

/* Left column: Selected products card list */
.card {
  flex-basis: 60%;
  display: grid;
  grid-template-columns: 0.5fr 1fr auto auto;
  column-gap: 2rem;
  align-items: start;
  border-bottom: 1px solid var(--secondary-color-dark);
  padding: 1rem 0 1.5rem;
}

.col {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.card__item {
  flex-basis: 50%;
}

.text--accent {
  color: var(--accent-color-orangered);
}

/* Right column: Confirm order */
.aside {
  flex-basis: 40%;
  margin-left: 3rem;
}

.aside__container {
  border: 1px solid var(--secondary-color-medium);
  display: grid;
}

.aside__title {
  padding: 1.25rem;
  color: var(--black);
}

.aside__body {
  padding: 2rem 1.25rem;
  background-color: color-mix(in srgb, var(--secondary-color-medium), var(--alpha-10));
}

.aside__accent {
  font-weight: 700;
}

.btn {
  background-color: transparent;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btn--fill {
  background-color: var(--secondary-color-dark);
  color: var(--white);
  padding: 0.625rem 4rem;
  margin: 1.25rem;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
