.section-center {
  width: 90%;
  max-width: 1440px;
  margin: 4rem auto;
}

.section__title {
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgb(var(--secondary-color-dark));
}

.grid {
  display: flex;
  justify-content: space-between;
}

@media (width <= 1024px) {
  .grid {
    flex-direction: column;
  }
}

/* Left column: Selected products card list */
.card {
  display: grid;
  grid-template-columns: 0.5fr 1fr auto auto;
  column-gap: 2rem;
  align-items: start;
  border-bottom: 1px solid rgb(var(--secondary-color-dark));
  padding: 1rem 0 1.5rem;
  margin-bottom: 60px;
}

.grid--wrap {
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1.5rem;
}

.card__item {
  flex-basis: 50%;
}

.text--accent {
  color: rgb(var(--accent-color-orangered));
}

/* Right column: Confirm order */
.aside {
  flex-basis: 40%;
  margin-left: 3rem;
}

@media (width <= 1024px) {
  .aside {
    margin-left: 0;
  }
}

.aside__container {
  border: 1px solid rgb(var(--secondary-color-medium));
  display: grid;
  border-radius: var(--radius-s);
}

.aside__title {
  padding: 1.25rem;
  color: rgb(var(--black));
}

.aside__body {
  padding: 2rem 1.25rem;
  background-color: rgba(var(--secondary-color-medium), 0.1);
}

.aside__accent {
  font-weight: 700;
}

.btn {
  width: 48px;
  height: 48px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 350ms ease;
}

.btn--fill {
  background-color: rgb(var(--secondary-color-dark));
  color: rgb(var(--white));
  padding: 0.625rem 4rem;
  margin: 1.25rem auto;
  border-radius: var(--radius-s);
  width: 80%;
  max-width: 360px;
}

.btn:hover {
  opacity: 1;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.link:hover {
  text-decoration: underline;
}

.msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
