.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  padding: 1rem 10rem;
}

.section--full {
  height: 100vh;
}

.section--bg {
  background-image: url("./../assets/pink-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section__title {
  display: flex;
  align-items: center;
}

.section__btn {
  border-radius: 99rem;
  background-color: var(--light-color);
  color: var(--primary-color-1);
  padding: 0.75rem 2rem;
  font-weight: 700;
}

.section__btn--border {
  border: 1px solid var(--primary-color-2);
}

.section__link {
  color: var(--primary-color-1);
}

.section__context--stroke {
  color: var(--light-color);
}
