.article {
  width: 75%;
  max-width: 1440px;
  margin: 4rem auto 0;
}

.article__meta {
  margin-bottom: 0.675rem;
}

.article__date {
  margin-left: 0.675rem;
}

.article__title {
  font-size: var(--font-3xl);
  margin-bottom: 3rem;
}

.article__img {
  width: 95%;
  margin: 0 auto;
  border-radius: var(--radius-l);
}

.article__subtitle {
  color: rgb(var(--accent-color-orangered));
  margin: 2rem 0 1rem;
}

.article__link {
  margin: 2.5rem 0 1rem;
}

.article__para {
  margin-bottom: 2rem;
  white-space: pre-line; /* 保留 JSON 資料中的換行 */
  line-height: 2;
}

.btn {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.btn__container {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: rgb(var(--secondary-color-dark));
  transition: all 350ms ease;
}

.btn__icon {
  transition: transform 350ms ease;
}

.btn:hover .btn__icon {
  transform: translateX(-4px);
}
