.banner {
  display: flex;
  justify-content: flex-end;
}

.section-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem 2.5rem;
  max-width: 90%;
  margin: 0 auto;
}

.section__title {
  display: flex;
  align-items: center;
}

.section__title::before {
  content: url("./../assets/icons/hexa-flower-deco.svg");
  transform: translate(-0.5rem, -2.5rem);
}

.section__bg--primary-color-light-10 {
  background-color: color-mix(in srgb, var(--primary-color-light), var(--alpha-10));
  padding: 2rem 0;
}

.aside {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
