.banner {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.banner__img {
  max-width: 800px;
}

@media (width < 1024px) {
  .banner__img {
    max-width: 100%;
  }
}

.section__bg {
  background-color: color-mix(in srgb,
      var(--primary-color-light),
      var(--alpha-10));
  padding: 2rem 0;
}

.section__title {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto 40px;
}

@media (width <= 455px) {
  .section__title {
    justify-content: center;
  }
}

:global(.grid-news) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem 1.5rem;
  max-width: 1440px;
  margin: 0 auto;
}

.aside {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
