.title-container-row {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;
}

.title {
  font-size: var(--font-l);
  padding-right: 1rem;
  border-right: 1px solid color-mix(in srgb, var(--secondary-color-dark), var(--alpha-50));
}

.items__list {
  gap: 4rem 1rem;
  padding: 4rem 0;
  place-items: center;
  border-top: 1px solid var(--secondary-color-medium);
  border-bottom: 1px solid var(--secondary-color-medium);
  margin-bottom: 10rem;
}
