.banner {
  width: 90%;
  margin: 0 auto;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background: center / contain url("./../assets/index-banner01.png") no-repeat;
  position: relative;
}

/* Left sidebar  */
.sidebar-left {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  justify-self: flex-end;
  place-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-left__title {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--white);
  display: grid;
  place-items: center;
  box-shadow: 0 5px 4px 0 color-mix(in srgb, var(--primary-color-light), var(--alpha-25));
  z-index: 2;
}

.sidebar-left__options {
  width: fit-content;
  height: fit-content;
  border-radius: 99rem;
  padding: 3rem 1rem;
  background-color: color-mix(in srgb, var(--white), var(--alpha-90));
  display: grid;
  row-gap: 20px;
  transform: translateY(calc(-60px / 2));
  z-index: 1;
}

/* Here use background image to import svg icons instead because the hover version has different algorithms */
.fb-icon {
  width: 56px;
  height: 56px;
  background: url("./../assets/icons/fb-icon-default.svg") no-repeat;
  transition: all 300ms ease;
}

.yt-icon {
  width: 56px;
  height: 56px;
  background: url("./../assets/icons/yt-icon-default.svg") no-repeat;
  transition: all 300ms ease;
}

.x-icon {
  width: 56px;
  height: 56px;
  background: url("./../assets/icons/x-icon-default.svg") no-repeat;
  transition: all 300ms ease;
}

.fb-icon:hover {
  background: url("./../assets/icons/fb-icon-hover.svg") no-repeat;
}

.yt-icon:hover {
  background: url("./../assets/icons/yt-icon-hover.svg") no-repeat;
}

.x-icon:hover {
  background: url("./../assets/icons/x-icon-hover.svg") no-repeat;
}


/* Right sidebar */
.sidebar-right {
  grid-column: 9 / 12;
  grid-row: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
}

/* 4 columns and 2 rows */
.card-c4r2 {
  background-color: color-mix(in srgb, var(--white), var(--alpha-90));
  border-radius: 1rem;
  padding: 1rem 3rem;
  position: relative;
}

.float-icon {
  position: absolute;
  top: -2rem;
  right: -2rem;
}

.card__list {
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.char-icon {
  transition: all 300ms ease;
  border-radius: 50%;
  border: 3px solid transparent;
}

.char-icon:hover {
  border: 3px solid var(--primary-color-dark);
}

/* 2 columns and 4 rows */
.card-c2r4 {
  background-color: color-mix(in srgb, var(--white), var(--alpha-90));
  box-shadow: 0 8px 8px 0 color-mix(in srgb, var(--primary-color-dark), var(--alpha-25));
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 1.5rem;
}

.card__img {
  border-radius: 0.5rem;
}

.timestamp {
  color: color-mix(in srgb, var(--black), var(--alpha-50));
}

.card__btn {
  background: var(--primary-color-dark);
  box-shadow: 0 4px 4px 0 color-mix(in srgb, var(--primary-color-dark), var(--alpha-25));
  color: var(--white);
  padding: 1rem;
  border-radius: 2rem;
  position: absolute;
  right: 0.5rem;
  top: 90%;
}

@media (width < 1024px) {
  .banner {
    height: 50vh;
  }

  .sidebar-right {
    grid-column: 8 / 13;
  }
}

@media (width <=576px) {
  .banner {
    background: 25% / cover url("./../assets/index-banner01.png") no-repeat;
  }

  .fb-icon,
  .yt-icon,
  .x-icon {
    background-size: 100%;
    width: 42px;
    height: 42px;
  }

  .fb-icon:hover,
  .yt-icon:hover,
  .x-icon:hover {
    background-size: contain;
  }

  .sidebar-right {
    grid-column: 5 / 13;
  }

  .float-icon {
    width: 2rem;
    top: 0;
    right: 0;
  }

  .char-icon {
    width: 42px;
  }

  .card__btn {
    top: 95%;
    padding: 0.5rem;
  }
}
