.controller {
  display: flex;
  column-gap: 0.75rem;
}

.controller__indicator {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid var(--primary-color-light);
  cursor: pointer;
}

.controller__indicator:hover {
  background-color: var(--primary-color-light);
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  align-items: center;
  margin: 4rem auto;
}

.pagination__control {
  width: 3rem;
  height: 2rem;
  font-weight: 700;
  border-radius: 99rem;
  background-color: var(--accent-color-pink);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
