.pagination {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  align-items: center;
  margin: 4rem auto;
}

.pagination__control {
  width: 3rem;
  height: 2rem;
  font-weight: 700;
  border-radius: 99rem;
  background-color: rgb(var(--accent-color-pink));
  color: rgb(var(--white));
  display: flex;
  justify-content: center;
  align-items: center;
}
