.footer {
  background-color: var(--secondary-color-dark);
  color: color-mix(in srgb, var(--white), var(--alpha-60));
  padding: 2rem 5rem;
}

.footer__container {
  border-bottom: 1px solid color-mix(in srgb, var(--white), var(--alpha-60));
  justify-content: space-between;
}

.footer__container,
.footer__list,
.footer__icons {
  display: flex;
}

.footer__logo {
  margin-bottom: 1.25rem;
}

.footer__icons {
  margin: 2rem 0;
  column-gap: 1rem;
}

.footer__list {
  column-gap: 3rem;
}

.footer__link {
  color: color-mix(in srgb, var(--white), var(--alpha-60));
}

.footer__item {
  color: var(--white);
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.footer__subitem {
  margin-bottom: 1rem;
}

.footer__link--small {
  font-size: var(--font-s);
}

.footer__copyright {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 3rem;
  margin-top: 1.5rem;
}
