.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 1rem;
  position: relative;
  margin-top: 4rem;
}

.header__brand {
  flex: 1 0 auto;
  display: grid;
  place-items: center;
}

.header__title {
  text-align: center;
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: var(--font-s);
  letter-spacing: calc(var(--font-s) * 0.8);
}

.nav {
  flex: 2 0 auto;
}

.nav,
.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__list {
  column-gap: 3rem;
}

.nav__link {
  color: rgb(var(--secondary-color-dark));
  font-weight: 700;
  border-bottom: 2px solid transparent;
}

.nav__link:hover {
  color: rgb(var(--primary-color-dark));
  border-bottom: 2px solid rgb(var(--primary-color-dark));
}

.cta {
  font-weight: 700;
  background: rgb(var(--secondary-color-dark));
  width: 186px;
  height: 56px;
  display: grid;
  place-items: center;
  border-radius: 99px;
  position: relative;
  overflow: hidden;
}

/* 確保字疊在背景顏色上 */
.cta__text {
  color: rgb(var(--white));
  position: relative;
  z-index: 1;
}

.cta::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);
  background: var(--cta-gradient);
  transition: all 500ms ease;
}

.cta:hover::before {
  transform: translateX(0);
  opacity: 1;
}

@media (width < 1024px) {
  .header {
    background-color: rgba(var(--white), 0.8);
    z-index: 999;
  }

  .nav {
    position: absolute;
    top: 100%;
    width: 100%;
    transform: scaleY(0);
    opacity: 0;
    overflow-y: hidden;
    background-color: rgba(var(--white), 0.8);
    backdrop-filter: blur(1px);
    display: grid;
    justify-content: center;  /* 網格在頁面上置中 */
    justify-items: center;   /* 網格的內容置中 */
    row-gap: 3rem;
    transition: all 0.3s ease;
  }

  .nav--active {
    transform: scaleY(1);
    opacity: 1;
  }

  .nav__list {
    margin-top: 3rem;
    display: grid;
    row-gap: 1.5rem;
  }

  .cta {
    margin-bottom: 1.5rem;
  }

  /* 避免漢堡按鈕被推出去 */
  .header__brand {
    flex: 0 0 auto;
  }

  .hamburger {
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
  }

  .hamburger__bar {
    width: 2rem;
    height: 4px;
    background-color: rgb(var(--secondary-color-dark));
    border-radius: 4px;
    position: relative;
    transition: transform 0.2s ease;
  }

  .hamburger__bar--cw {
    transform: translateY(0.5rem) rotate(45deg);
  }

  .hamburger__bar--acw {
    transform: rotate(-45deg);
  }

  .hamburger__bar--hide {
    opacity: 0;
  }
}
