.header,
.header__brand,
.header__list {
  display: flex;
}

.header {
  margin: 4rem 4rem 0;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  text-align: center;
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: var(--font-s);
  letter-spacing: calc(var(--font-s) * 0.8);
}

.header__list {
  column-gap: 3.75rem;
}

.header__link {
  color: var(--secondary-color-dark);
  font-weight: 700;
}

.header__link--contrast {
  color: var(--white);
  background-color: var(--secondary-color-dark);
  padding: 1rem 2rem;
  border-radius: 99rem;
}
