.banner {
  width: 90%;
  margin: 60px auto 0;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  margin-bottom: 20vh;
}

@media (width <= 390px) {
  .banner {
    display: block;
    margin-bottom: 250px;
  }
}

.banner__bg {
  grid-area: 1 / 1 / 2 / -1;
}

.banner__character {
  opacity: 0;
  position: absolute;
  height: 100%;
  left: 20%;
  bottom: 0;
  z-index: 2;
  transform: translateY(100px);
}

.banner__accessory {
  opacity: 0;
  position: absolute;
  height: 50%;
  left: 15%;
  top: 0;
  z-index: 1;
  transform: translateY(150px) translateX(30px);
}

@media (width <= 390px) {
  .banner__accessory {
    height: 100px;
  }
}

/* Left sidebar  */
.sidebar-left {
  grid-area: 1 / 1 / 1 / 2;
  justify-self: flex-end;
  place-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.sidebar-left__title {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(var(--white));
  display: grid;
  place-items: center;
  box-shadow: 0 5px 4px 0 rgba(var(--primary-color-light), 0.25);
  z-index: 2;
}

.sidebar-left__options {
  border-radius: 99rem;
  padding: 3rem 1rem;
  background-color: rgba(var(--white), 0.9);
  display: grid;
  row-gap: 20px;
  transform: translateY(calc(-60px / 2));
  z-index: 1;
  box-shadow: 0 8px 8px 0 rgba(var(--primary-color-dark), 0.25);
}

@media (width <= 390px) {
  .sidebar-left {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .sidebar-left__title {
    transform: translateX(20px);
  }

  .sidebar-left__options {
    display: flex;
    column-gap: 20px;
    padding: 1rem 1rem 1rem 2rem;
    transform: translateY(0);
  }
}


/* Here use background image to import svg icons instead because the hover version has different algorithms */
.fb-icon {
  width: 56px;
  height: 56px;
  background: url("./../assets/icons/fb-icon-default.svg") no-repeat;
  transition: all 300ms ease;
}

.yt-icon {
  width: 56px;
  height: 56px;
  background: url("./../assets/icons/yt-icon-default.svg") no-repeat;
  transition: all 300ms ease;
}

.x-icon {
  width: 56px;
  height: 56px;
  background: url("./../assets/icons/x-icon-default.svg") no-repeat;
  transition: all 300ms ease;
}

.fb-icon:hover {
  background: url("./../assets/icons/fb-icon-hover.svg") no-repeat;
}

.yt-icon:hover {
  background: url("./../assets/icons/yt-icon-hover.svg") no-repeat;
}

.x-icon:hover {
  background: url("./../assets/icons/x-icon-hover.svg") no-repeat;
}

/* Right sidebar */
.sidebar-right {
  grid-area: 1 / 9 / 1 / 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  z-index: 3;
}

/* 4 columns and 2 rows */
.card-upper {
  max-width: 324px;
  background-color: rgba(var(--white), 0.9);
  box-shadow: 0 8px 8px 0 rgba(var(--primary-color-dark), 0.25);
  border-radius: 1rem;
  position: relative;
}

.card__title {
  margin: 1rem 0 0 1rem;
}

.card__list {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.char-icon {
  transition: all 300ms ease;
  border-radius: 50%;
  border: 3px solid transparent;
  min-width: 60px;
}

.char-icon:hover {
  border: 3px solid rgb(var(--primary-color-dark));
}

/* 2 columns and 4 rows */
.card-lower {
  max-width: 324px;
  background-color: rgba(var(--white), 0.9);
  box-shadow: 0 8px 8px 0 rgba(var(--primary-color-dark), 0.25);
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 1.5rem;
  transition: box-shadow 350ms ease;
}

.card-lower:hover {
  box-shadow: 0 0 8px 8px rgba(var(--primary-color-dark), 0.5);
}

.card__img {
  border-radius: 0.5rem;
}

.timestamp {
  color: rgba(var(--black), 0.5);
}

@media (width < 1024px) {
  .banner {
    height: 50vh;
  }

  .sidebar-right {
    grid-column: 8 / 13;
  }
}

@media (width <= 576px) {
  .fb-icon,
  .yt-icon,
  .x-icon {
    background-size: 100%;
    width: 42px;
    height: 42px;
  }

  .fb-icon:hover,
  .yt-icon:hover,
  .x-icon:hover {
    background-size: contain;
  }

  .sidebar-right {
    grid-column: 5 / 13;
  }

  .card__btn {
    top: 95%;
    padding: 0.5rem;
  }
}
