.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-m);
  row-gap: 0.625rem;
  text-align: left;
  width: 500px;
}

@media (width <= 1024px) {
  .card {
    width: 400px;
  }
}

@media (width <= 825px) {
  .card {
    width: 300px;
  }
}

.card__img-wrapper {
  overflow: hidden;
  border-radius: 1rem;
  max-height: 300px;
}

.card__img {
  aspect-ratio: 4 / 3;
  transition: transform 300ms ease-in-out;
  object-fit: cover;
}

.card__title-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  column-gap: 0.5rem;
}

.card__title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__meta {
  font-weight: 500;
  color: rgba(var(--secondary-color-dark), 0.4);
}

.card:hover .card__img {
  transform: scale(1.1);
}
