.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 2px solid rgb(var(--primary-color-dark));
  border-radius: 1rem;
}

.card__img-wrapper {
  padding: 2rem;
  overflow: hidden;
}

.card__img {
  transition: transform 300ms ease-in-out;
}

.card:hover .card__img {
  transform: scale(1.1);
}

.card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(var(--primary-color-dark));
  padding: 1rem;
  color: rgb(var(--primary-color-dark));
}

.card__meta {
  font-weight: 700;
  font-size: var(--font-xl);
}
