.card__link {
  display: grid;
  align-items: stretch;
  overflow: hidden;
}

/* Place image and texts into the same grid to stack them */
.card__img,
.card__cover {
  grid-area: 1 / 1 / 2 / 2;
}

@media (width <=480px) {
  .card__link {
    align-items: end;
  }

  .card__img {
    object-fit: contain;
  }
}



.card__cover {
  z-index: 1;
  background-color: rgba(var(--primary-color-dark), 0.8);
  color: rgba(var(--white), 0.8);
  backdrop-filter: blur(1px);
  border-radius: 1rem 1rem 0 0;
  margin: 0.5rem 0.5rem 0;
  padding: 6rem 1rem;
  position: relative;
  transform: translateY(100%);
  transition: transform 300ms ease;
}

.card__logo {
  margin: 0 auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.card__link:hover .card__cover {
  transform: translateY(50%);
}
