.toast {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
  position: fixed;
  bottom: 25%;
  right: 0;
  background-color: rgb(var(--white));
  padding: 2rem;
  border-radius: var(--radius-s);
  box-shadow: var(--shadow);
}

.toast__icon {
  width: 3.5rem;
  height: 3.5rem;
  background-size: cover;
}

.toast__icon--success {
  background-image: url("./../../public/icons/success.svg");
}

.toast__icon--error {
  background-image: url("./../../public/icons/error.svg");
}
