@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
  --font-4xl: 2.5rem; /* 36px */
  --font-xl: 1.75rem; /* 28px */
  --font-l: 1.375rem; /* 22px */
  --font-m: 1.25rem; /* 20px */
  --font-base: 1.125rem; /* 18px */
  --font-s: 0.875rem; /* 14px */
  --primary-color-dark: #e06897;
  --primary-color-light: #fa90ba;
  --secondary-color-dark: #112e44;
  --secondary-color-medium: #2d5993;
  --secondary-color-light: #7c97bb;
  --accent-color-blue: #31a4db;
  --accent-color-pink: #f75192;
  --accent-color-orange: #f5932e;
  --accent-color-orangered: #d5544c;
  --accent-color-green: #19c575;
  --black: #000;
  --white: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans TC", Arial, sans-serif;
  color: color-mix(in srgb, var(--secondary-color-dark), transparent 15%);
}
