@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400..700&display=swap');

:root {
  /* 使用 rem 以配合使用者的瀏覽器縮放設定，參考：https://css-tricks.com/is-it-better-to-use-ems-rems-than-px-for-font-size/ */
  --font-4xl: 3rem;  /* 48px */
  --font-3xl: 2.5rem;  /* 36px */
  --font-2xl: 1.75rem;  /* 28px */
  --font-xl: 1.375rem;  /* 22px */
  --font-l: 1.25rem;  /* 20px */
  --font-m: 1.125rem;  /* 18px */
  --font-base: 16px;
  --font-s: 0.875rem;  /* 14px */
  --primary-color-dark: 224, 104, 151;
  --primary-color-light: 250, 144, 186;
  --secondary-color-dark: 46, 46, 46;
  --secondary-color-medium: 45, 89, 147;
  --secondary-color-light: 124, 151, 187;
  --accent-color-blue: 3, 170, 234;
  --accent-color-pink: 247, 81, 146;
  --accent-color-orangered: 213, 84, 76;
  --accent-color-green: 25, 197, 117;
  --cta-gradient: linear-gradient(90deg, rgba(64, 238, 255, 1) 2%, rgba(168, 107, 255, 1) 57%, rgba(255, 61, 203, 1) 100%);
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --radius-s: 5px;
  --radius-m: 15px;
  --radius-l: 25px;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans TC", Arial, sans-serif;
  font-size: var(--font-base);
  color: rgba(var(--secondary-color-dark), 0.85);
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
}
