@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400..700&display=swap');

:root {
  /* 使用 rem 以配合使用者的瀏覽器縮放設定，參考：https://css-tricks.com/is-it-better-to-use-ems-rems-than-px-for-font-size/ */
  --font-4xl: 3rem;  /* 48px */
  --font-3xl: 2.5rem;  /* 36px */
  --font-2xl: 1.75rem;  /* 28px */
  --font-xl: 1.375rem;  /* 22px */
  --font-l: 1.25rem;  /* 20px */
  --font-m: 1.125rem;  /* 18px */
  --font-base: 16px;
  --font-s: 0.875rem;  /* 14px */
  --primary-color-dark: #e06897;
  --primary-color-light: #fa90ba;
  --secondary-color-dark: #112e44;
  --secondary-color-medium: #2d5993;
  --secondary-color-light: #7c97bb;
  --accent-color-blue: #03aaea;
  --accent-color-pink: #f75192;
  --accent-color-orangered: #d5544c;
  --accent-color-green: #19c575;
  --cta-gradient: linear-gradient(90deg, rgba(64, 238, 255, 1) 2%, rgba(168, 107, 255, 1) 57%, rgba(255, 61, 203, 1) 100%);
  --black: #000;
  --white: #fff;
  --alpha-95: transparent 5%;
  --alpha-90: transparent 10%;
  --alpha-85: transparent 15%;
  --alpha-80: transparent 20%;
  --alpha-75: transparent 25%;
  --alpha-70: transparent 30%;
  --alpha-65: transparent 35%;
  --alpha-60: transparent 40%;
  --alpha-55: transparent 45%;
  --alpha-50: transparent 50%;
  --alpha-45: transparent 55%;
  --alpha-40: transparent 60%;
  --alpha-35: transparent 65%;
  --alpha-30: transparent 70%;
  --alpha-25: transparent 75%;
  --alpha-20: transparent 80%;
  --alpha-15: transparent 85%;
  --alpha-10: transparent 90%;
  --alpha-5: transparent 95%;
  --radius-s: 5px;
  --radius-m: 15px;
  --radius-l: 25px;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans TC", Arial, sans-serif;
  font-size: var(--font-base);
  color: color-mix(in srgb, var(--secondary-color-dark), var(--alpha-85));
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
}
